// .companies {
// }
.companies__title {
  color: $title-color;
  line-height: 1.16;
  font-size: 36px;
  font-weight: 700;
  text-align: center;

  margin-bottom: 50px;
  @extend %zeroStiles;
}
.companies__list {
  @include centeredFlex($content: space-between);
  @extend %list;
}
// .companies__item {
// }
.companies__link {
  color: $icon-social-color;
  border-radius: 4px;
  border: 1px solid $icon-social-color;
  text-decoration: none;
  padding: 16px 32px;

  @include centeredFlex($content: space-between);

  transition: border-color 250ms $animation;

  &:focus,
  &:hover {
    color: $acent-color;
    border: 1px solid $acent-color;
  }
}
.companies__icon {
  fill: currentColor;
  transition: fill 250ms $animation;
}
