.features {
}
.features__list {
  display: flex;
  flex-basis: calc(100% / 4);
  @extend %zeroStiles;
}
.features__thumb {
  @include centeredFlex();
  height: 120px;
  width: 270px;
  background-color: $button-bgc;
  border-radius: 4px;
}
.features__icon {
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  @extend %zeroStiles;
}
.features__text {
  @extend %zeroStiles;
}
