body {
  font-family: $primary-font-family;
}
.section {
  padding: 94px 0;
}
.section-withoutTopPadding {
  padding-top: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__row {
  display: flex;
  align-items: center;
}
.is-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
