.page-header {
  border-bottom: 2px solid $header-line-color;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: $title-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  text-decoration: none;

  display: flex;
  justify-content: center;
}
.logo__color {
  color: $acent-color;
}
// .nav {
// }
.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav__item {
  display: block;
  padding: 32px 0;
  cursor: pointer;

  position: relative;
  transition: color 250ms $animation;

  &:hover .nav__link,
  &:focus .nav__link {
    color: $acent-color;
  }
  .nav__link {
    color: $title-color;
    text-decoration: none;
  }
}
.info {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
// .info__item {
// }
.info__link {
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms $animation;
  &:hover,
  &:focus {
    color: $acent-color;
  }
}
.info__icon {
  fill: $primary-text-color;
  transition: fill 250ms $animation;
  .info__link:hover & {
    fill: $acent-color;
  }
}
