.grid {
  @extend %list;
  display: flex;
  flex-basis: calc(100% / 3);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}
.grid__item {
  margin-top: 30px;
  &:hover .product,
  &:focus .product {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.product {
  &:hover .overlay,
  &:hover .overlay__text {
    transform: translateY(0);
  }
}
.product__link {
  text-decoration: none;
  color: $primary-text-color;
}
.product__thumb {
  position: relative;
  overflow: hidden;
}
.product__icon {
  display: block;
  max-width: 100%;
  height: auto;
}
.overlay {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms $animation;
}
.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: $primary-white;
  padding: 63px 24px;
  margin: 0;

  transition: color 250ms $animation;
}
.product__meta {
  padding: 20px 0 20px 24px;
  border: 1px solid $portfolio-card-bgc;
  border-top: 1px solid $primary-white;
}
.product__title {
  color: $title-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  @extend %zeroStiles;
}
.product__text {
  font-size: 16px;
  line-height: 1.8;
  @extend %zeroStiles;
}
