.info {
  @extend %list;
  @extend %centerFlex;
  margin-left: auto;
}
.info__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.info__link {
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  @extend %centerFlex;

  transition: color 250ms $animation;
  &:hover,
  &:focus {
    color: $acent-color;
  }
}
.info__icon {
  fill: $primary-text-color;
  transition: fill 250ms $animation;

  margin-right: 10px;
  .info__link:hover & {
    fill: $acent-color;
  }
}
