.social__list {
  @include centeredFlex();
  @extend %list;
  margin-bottom: 30px;
}
.social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}
.social__link {
  color: $icon-social-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include centeredFlex();

  transition: background-color 250ms $animation, color 250ms $animation;

  &:focus,
  &:hover {
    color: $primary-white;
    background-color: $acent-color;
  }
}
.social__link-footer {
  color: $primary-white;
  background-color: $footer-thumb-bgc;
}
.social__icon {
  fill: currentColor;
  transition: fill 250ms $animation;
}
